{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('bundles/courses/css/main.css') }}" type="text/css" media="all" />
    <h1>Course</h1>
    <style type="text/css">
        
    </style>
    <center><table id='courses_table'>
        <tbody>
            <tr>
                <th><a>Id</a></th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if category.createdat %}{{ category.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if category.updatedat %}{{ category.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <button>
            <a href="{{ path('course_index') }}">Повернутися</a>
        </button>
        <button>
            <a href="{{ path('category_edit', { 'id': course.id }) }}">Edit</a>
        </button>
        <button>
            {{ form_start(delete_form) }}
                <input type="submit" value="Видалити">
            {{ form_end(delete_form) }}
        </button>
    </ul>
{% endblock %}