{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('bundles/courses/css/main.css') }}" type="text/css" media="all" />

    <div class="category"><h1>Категорія №{{category.id}} : {{ category.name }}</h1>
    <p>Категорію було створено <b>{% if category.createdat %}{{ category.createdat|date('Y-m-d H:i:s') }}{% endif %}</b>
    {% if category.updatedat %} і востаннє оновлено <b> {{ category.updatedat|date('Y-m-d H:i:s') }}{% endif %}</b></p>
    </div>
<a href="{{ path('course_index') }}" class ="odd table table-bordered"><------Повернутися</a>
   {{ include ('CoursesBundle:Course:list.html.twig', {'coursos': category.activecoursos})  }}




    <button>
        <a href="{{ path('course_index') }}">Повернутися</a>
    </button>

    </ul>
{% endblock %}