<div id="course_actions">
    <h3>Admin</h3>
    <table class= 'table'>
        <tr>
            <td><a href="{{ path('course_edit', { 'token': course.token }) }}">Редагувати</a></td>
            <td><a href="{{ path('course_edit', { 'token': course.token }) }}">Оновити</a></td>
        </tr>
        <td>
            <form action="{{ path('course_delete', { 'token': course.token }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" onclick="if(!confirm('Ви дійсно бажаєте завершити курс? Переконайтеся що він нікому не потрібен і час уже вичерпано')) { return false; }">Видалити</button>
            </form>
        </td>
        
            <td {% if course.expiresSoon %} class="expires_soon" {% endif %}>
                {% if course.isExpired %}
                    Час вийшов. Курс закінчився
                {% else %}
                    Курс розраховано ще на <strong>{{ course.getDaysBeforeExpires }}</strong> дні(в)
                {% endif %}
 
                
                    - <a href="">Подовжити</a> ще на 30 днів
                
            </td>
        
            <td>
                [Зберегти собі <a href="{{ url('course_preview', { 'token': course.token, 'name': course.name, 'category': course.categoryslug }) }}"> цей URL</a> для керування цим курсом у майбутньому.]
            </td>
        
    </table>
</div>