{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/courses/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
        <table class="table table-bordered coursos">
          {% for course in category.activecoursos %}
            <tr class="{{ cycle(['even', 'odd'], loop.index) }} table table-bordered"></tr>
              <td class="cname">Lets Learn <b>{{course.name}}</b></td>
              <td class="cprice">Купити негайно за ${{course.price}}</td>
              <td class="cedit">
                <a href="{{ path('course_show', { 'id': course.id, 'name': course.nameslug, 'category': course.categoryslug }) }}">Попередній перегляд</a>
                    <a href="{{ path('course_edit', { 'token': course.token }) }}">Редагувати</a>
                    <br>
              </td>
              
            </tr>
          {% endfor %}
        </table>