{% extends 'base.html.twig' %}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/courses/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
{% block body %}

  <div id="coursos" class="blog-info">
    {% for category in categories %}
      <div>
        <div class="category">
          <a  href="{{ path('category_show', { 'slug': category.slug }) }}"><h2 class="category">Категорія: {{ category.name }}</h2></a>
        </div>
        {{ include ('CoursesBundle:Course:list.html.twig', {'coursos': category.activecoursos})  }}
        {% if category.morecoursos %}
            <div class="more_coursos">
              переглянути ще <a href="{{ path('category_show', { 'slug': category.slug }) }}">{{ category.morecoursos }}</a> шт.
            </div>
          {% endif %}

      </div>
    {% endfor %}
    <h1><a href="{{ path('course_new')}}">Додати ще</a></h1>
  </div>
{% endblock %}