{% extends 'base.html.twig' %}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/courses/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
{% block body %}

  <div id="coursos" class="blog-info">
    {% for category in categories %}
      <div>
        <div class="category">
          <a  href="{{ path('CoursesBundle_category', { 'slug': category.slug }) }}"><h2 class="category">Категорія: {{ category.name }}</h2></a>
        </div>
        <table class="table table-bordered coursos">
          {% for course in category.activecoursos %}
            <tr class="{{ cycle(['even', 'odd'], loop.index) }} table table-bordered"></tr>
              <td class="cname">Lets Learn <b>{{course.name}}</b></td>
              <td class="cprice">Купити негайно за ${{course.price}}</td>
              <td class="cedit">
                <a href="{{ path('course_show', { 'id': course.id, 'name': course.nameslug, 'price': course.priceslug, 'category': course.categoryslug }) }}">Попередній перегляд</a>
                    <!--<a href="{{ path('course_edit', { 'id': course.id }) }}">Редагувати</a>-->
                    <br>
              </td>
              
            </tr>
          {% endfor %}
        </table>
        {% if category.morecoursos %}
            <div class="more_coursos">
              переглянути ще <a href="{{ path('CoursesBundle_category', { 'slug': category.slug }) }}">{{ category.morecoursos }}</a> шт.
            </div>
          {% endif %}

      </div>
    {% endfor %}
    <a href="{{ path('course_new')}}">Додати ще</a>
  </div>
{% endblock %}