{% extends 'base.html.twig' %}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/courses/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
{% block body %}

  <div id="coursos">
    {% for category in categories %}
      <div>
        <div class="category">
          <h1>{{ category.name }}</h1>
        </div>
        <table class="table table-bordered coursos">
          {% for course in category.activecoursos %}
            <tr class="{{ cycle(['even', 'odd'], loop.index) }} table table-bordered"></tr>
              <td class="cname">Lets Learn <b>{{course.name}}</b></td>
              <td class="location">Price: ${{course.price}}</td>
              <td class="position">
                <a href="{{ path('course_show', { 'id': course.id, 'name': course.nameslug, 'price': course.priceslug, 'category': course.categoryslug }) }}">Перейти на курс</a>
                    <!--<a href="{{ path('course_edit', { 'id': course.id }) }}">Редагувати</a>-->
                    <br>
              </td>
              
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  </div>
{% endblock %}