{% extends 'base.html.twig' %}

{% form_theme form _self %}
 
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li><font color="red">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</font></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block stylesheets %}
    {{ parent() }}
   <link rel="stylesheet" href="{{ asset('bundles/courses/css/main.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body%}
<h1>Ви бажаєте додати новий курс</h1>
    <form action="{{ path('course_create' ) }}" method="post" {{ form_enctype(form) }}>
        <table id="course_form" class="table">
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Створити курс" />
                    </td>
                </tr>
            </tfoot>
            <tbody id="new_course">
                <tr>
                    <th>{{ form_label(form.category) }}</th>
                    <td>
                        {{ form_errors(form.category) }}
                        {{ form_widget(form.category) }}
                    </td>
                </tr>
                
                <tr>
                    <th>{{ form_label(form.name) }}</th>
                    <td>
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.contents) }}</th>
                    <td>
                        {{ form_errors(form.contents) }}
                        {{ form_widget(form.contents) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.price) }}</th>
                    <td>
                        {{ form_errors(form.price) }}
                        {{ form_widget(form.price) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.created_at) }}</th>
                    <td>
                        {{ form_errors(form.created_at) }}
                        {{ form_widget(form.created_at) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.updated_at) }}</th>
                    <td>
                        {{ form_errors(form.updated_at) }}
                        {{ form_widget(form.updated_at) }}
                    </td>
                </tr>

                <tr>
                    <th>{{ form_label(form.type) }}</th>
                    <td>
                        {{ form_errors(form.type) }}
                        {{ form_widget(form.type) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.file) }}</th>
                    <td>
                        {{ form_errors(form.file) }}
                        {{ form_widget(form.file) }}
                    </td>
                </tr>
                
            </tbody>
        </table>
    {{ form_end(form) }}
   	

        <h3>
            <a href="{{ path('course_index') }}">Повернутися на головну</a>
        </h3>
{% endblock %}

