{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('bundles/courses/css/main.css') }}" type="text/css" media="all" />
    <h1>Course</h1>
    <style type="text/css">
        
    </style>
    <center><table class="table table-bordered" id='courses_table'>
        <tbody>
            <tr>
                <th><a>Номер</a></th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Назва</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>Призначення курсу</th>
                <td>{{ course.type }}</td>
            </tr>
            <tr>
                <th>Опис</th>
                <td>{{ course.contents }}</td>
            </tr>
            <tr>
                <th>Ціна</th>
                <td>{{ course.price }}</td>
            </tr>
            <tr>
                <th>Дата створення</th>
                <td>{% if course.createdat %}{{ course.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Останнє оновлення</th>
                <td>{% if course.updatedat %}{{ course.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <h3>
            <a href="{{ path('course_index') }}">Повернутися на головну</a>
        </h3>
        <h3>
            <a href="{{ path('course_edit', { 'id': course.id }) }}">Оновити</a>
        </h3>
        <h3>
            {{ form_start(delete_form) }}
                <input type="submit" value="Видалити">
            {{ form_end(delete_form) }}
        </h3>
    </ul>
{% endblock %}
